<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Basilisk</title>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/lib/boostrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/boostrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/lib/boostrap/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="/lib/boostrap/css/bootstrap-utilities.css" />
    <script src="/lib/boostrap/js/bootstrap.js" defer></script>
</head>
<body class="d-flex justify-content-center align-items-center bg-dark">
    <main class="border-subtle rounded-end p-3">
        @RenderBody()
    </main>
</body>
</html>
