@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabea</title>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/lib/boostrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/boostrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/lib/boostrap/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="/lib/boostrap/css/bootstrap-utilities.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="/lib/boostrap/js/bootstrap.js" defer></script>

</head>
<body class="container-fluid">

    <div class="row flex-nowrap">
        <partial name="_Navigation" />
        <div class="col py-3">
            <header class="p-3 mb-2 border-bottom d-flex justify-content-between align-items-center">
                @RenderSection(name: "title", required: false)
                <div class="ms-auto">
                    @{
                        var claims = User.Claims;
                        string username = "anonymous";
                        string role = "guest";
                        foreach (var claim in claims) {
                            if (claim.Type == ClaimTypes.NameIdentifier) {
                                <span style="font-size: 14px; color: #fff; margin-right: 10px;">@claim.Value</span>
                            } else if (claim.Type == ClaimTypes.Role) {
                                <span style="font-size: 14px; color: #fff; margin-right: 10px;">@claim.Value</span>
                            } 
                        }
                    }
                    <a class="btn btn-warning" asp-controller="" asp-action="">Change Password</a>
                    <a class="btn btn-danger" asp-controller="Account" asp-action="Logout">Logout</a>
                </div>
            </header>
            @RenderBody()
        </div>
    </div>
</body>

</html>