@model ScheduleInsertViewModel;
@using System.Security.Claims;

@section title {
    <h2>Schedule Form</h2>
}

<form method="post">
    @if (Model.Id > 0) {
        <input type="hidden" asp-for="Id" />
    }
    @{
        var claims = User.Claims;
        foreach (var claim in claims) {
            if (claim.Type == ClaimTypes.NameIdentifier) {
                <div class="mb-3">
                    <span asp-validation-for="PartTimeEmail" class="text-danger"></span>
                    <label asp-for="PartTimeEmail" class="form-label"></label>
                    <input type="text" asp-for="PartTimeEmail" value="@claim.Value" class="form-control" readonly/>
                </div>
            } 
        }
    }

    <div class="mb-3">
        <span class="d-block bg-danger rounded text-light"
              asp-validation-for="ShiftId"></span>
        <select class="form-select" asp-for="ShiftId" asp-items="@Model.Shift">
            <option value="" selected>Select Shift</option>
        </select>
    </div>
    
     <div class="mb-3">
        <span class="d-block bg-danger rounded text-light"
              asp-validation-for="ScheduleDate"></span>
       <label asp-for="ScheduleDate" class="form-label"></label>
        <input type="date" asp-for="ScheduleDate" class="form-control col-md-2"
               min="@DateTime.Today.ToString("yyyy-MM-dd")"
               max="@DateTime.Today.AddDays(6 - (int)DateTime.Today.DayOfWeek).ToString("yyyy-MM-dd")" />
    </div>
   
   
    <button class="btn btn-primary">Submit Registrasi</button>
</form>
