@{
    Layout = "_AuthLayout";
}
<h3 class="text-light">You cannot access this page!</h3>
<p class="text-light">
    If you believe there is a system error, try contacting us at :
    <span class="text-light fw-bold">Contact Developer</span>
</p>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Click here to go to Home</a>
</div>